body{
    background-color: #F6B21A;
    font-family: "aktiv-grotesk-extended", sans-serif;
    font-style: normal;
    font-weight: 900;
    color: #F47D51;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 70px;
    line-height: 92px;
    text-align: center;
    text-transform: uppercase;
}

.animate__fadeIn{
    animation-duration: 3s;
    animation-delay: 1ms;
}

h2{
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
}

.btn{
    background: #EA7BB1;
    color: white;
    width: 180px;
    height: 40px;
    border: none;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}


@keyframes btn_animation{
    0% {background-color: #F47D51;}
    50% {background-color:#EA7BB1; transform: scale(1.1,1.1);}
    100% {background-color: #F47D51;}
}

.btn:hover{
    cursor: pointer;
    animation-name: btn_animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
}

.artwork_svg{
    box-sizing: border-box;
    max-width: 408px;
    height: 541px;
    margin-top: -110px;
    margin-bottom: -80px;
}

