body{
    background-color: #F6B21A;
    font-family: "aktiv-grotesk-extended", sans-serif;
    font-style: normal;
    font-weight: 900;
    color: #F47D51;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 70px;
    line-height: 92px;
    text-align: center;
    text-transform: uppercase;
}

h2{
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
}

.btn{
    background: #EA7BB1;
    color: white;
    width: 180px;
    height: 40px;
    border: none;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.artwork_svg{
    box-sizing: border-box;
    max-width: 408px;
    height: 541px;
    margin-top: -110px;
    margin-bottom: -80px;
}

