
body{
    background-color: #F6B21A;
    font-family: "aktiv-grotesk-extended", sans-serif;
    font-style: normal;
    font-weight: 900;
    color: #F47D51;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.center{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 60px;
    line-height: 92px;
    text-align: center;
    text-transform: uppercase;
}

h1:hover{
    cursor: pointer;
    animation-name: h1_anim;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: 2;
    will-change: transform;
}


@keyframes h1_anim{
    0% {color: #F47D51;}
    50% {color:#EA7BB1; transform: scale(1.1,1.1);}
    100% {color: #F47D51;}
}


.animate__fadeIn{
    animation-duration: 3s;
    animation-delay: 1ms;
}

h2{
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

h2:hover{
    color: white;
    animation: rotate 2s ease infinite alternate both;
}

@keyframes rotate{
    from {filter: invert(100%);}
    to {filter:invert(0%)}
}

.btn{
    background: #EA7BB1;
    color: white;
    width: 180px;
    height: 40px;
    border: none;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    transition-property: background;
    transition-duration: 2s;
    transition-timing-function: ease;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
    background-color:#F47D51;
    border-radius: 20px;
    transition: all 0.4s;
    transition-timing-function: ease ease-in-out;
}


.artwork{
    box-sizing: border-box;
    max-width: 328px;
    height: 433px;
    margin-top: -40px;
    margin-bottom: -20px;
}


/*BIRD ANIM*/

.bird_container{
    width: 100%;
    height: 100vh;
    position: absolute;
}

.bird{
    width: 180px;
    transform: translate(100px,500px);
    animation-name: flying;
    animation-duration: 3.5s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

@keyframes flying{
    0%{transform: translate(100px,500px);}
    100%{transform: translate(1500px,0px); ;}
}


/*STARS ANIM*/

.stars_container{
    width: 100%;
    height: 100vh;
    position: absolute;
}
.stars, .stars_one, .stars_two, .stars_three, .stars_four, .stars_five, .stars_six{
    fill: white;
    opacity: 0;
    width: 20px;
    position:absolute;
}

.star-blink{
    animation-name: star-blink, rotate;
    animation-duration: 5s, 2s;
    animation-delay: 2s, 1s;
    animation-timing-function: ease, linear;
    animation-iteration-count: infinite, infinite;
    animation-fill-mode: both, both;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform:rotate(360deg)}
}

@keyframes star-blink{
    0% {opacity: 0;}
    50% {opacity: 100%;}
    100% {opacity: 0;}
}


.stars_one{
    top: 50px;
    left: 100px;
}


.stars_two{
    top: 100px;
    left: 400px;
}

.stars_three{
    top: 400px;
    left: 1000px;
}

.stars_four{
    top: 100px;
    left: 1200px;
}

.stars_five{
    top: 300px;
    left: 150px;
}

.stars_six{
    top: 550px;
    left: 1250px;
}


/*
.animate__animated, .animate__slideInLeft{
    animation-duration: 1.8s;
    animation-delay: 0.5s;
}
*/

.artwork:hover{
    cursor: pointer;
    animation: fx-artwork 2s ease-in-out infinite;
}

@keyframes fx-artwork{
    0% {scale: 1; opacity: 100%;}
    50% {scale: 0.9; filter:hue-rotate(50deg);}
    100% {scale: 1; opacity: 100%;}
}